<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
    <link rel="icon" href="{% static 'portfolio/logo_3.png' %}" type="image/png">
    <title>A.G. Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/custom.css' %}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Andrievskii Georgii</a>
          <img src="{% static 'portfolio/logo.png' %}" alt="" width="41" height="24">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
              <a class="nav-link" href="{% static 'portfolio/Andrievskii_Georgii_cv(eng).pdf' %}"> Resume ENG </a>
              <a class="nav-link" href="{% static 'portfolio/Andrievskii_Georgii_cv(rus).pdf' %}"> Resume RUS </a>
              <a class="nav-link" href="https://hh.ru/resume/37a7adceff09d96ae40039ed1f6a5145545247">Head Hunter</a>
              <a  class=" btn btn-warning" href="{% url 'blog:all_blogs' %}">Blogs</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">


      {% block content %}{% endblock %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
