{% extends 'portfolio/base.html' %}
{% load static %}  
{% block content %}
<div class="main_home"> 
    <div class="row justify-content-center my-4">
        
          <img src="{% static 'portfolio/photo_2.jpg' %}" class="img-fluid photo_p"  alt="pic.">
        
    </div>  
    <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">
          <h1 id="hometext" class="font-weight-bold">Adrievskii Georgii is junior Python developer and lives in Larnaca)))</h1>
        </div>
      </div> 
    <div class="row">
        {% for project in projects %}
          <div class="col-lg-4 col-md-6">

            {% if project.url %}
            <a href="{{ project.url }}">
              <img src="{{ project.image.url }}" class="img-fluid mb-2">
            </a>
            {% else %}
        
            <img src="{{ project.image.url }}" class="img-fluid mb-2">
            {% endif %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.discription }}</p>
        
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}